<mat-toolbar>
    <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span></span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <button mat-raised-button color="primary" (click)="createPost()">Create Post</button>
</mat-toolbar>
<mat-card *ngFor="let post of posts | async">
    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-subtitle>by {{post.author}}</mat-card-subtitle>
</mat-card>
<!-- This is where we will load all posts for the forum topic. -->