<mat-toolbar>
    <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span></span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <button mat-raised-button color="primary" (click)="createPost()">Create Post</button>
</mat-toolbar>
<app-forum-post *ngFor="let post of posts | async" [post]="post"></app-forum-post>
<!-- This is where we will load all posts for the forum topic. -->